/*** CSS for main plugin wrapper ***/
DIV#ExportSQL-mainDiv {
    padding: 0px;
    height: 100%;
}

/*** CSS for tab background ***/

DIV#ExportSQL-TABS DIV.yui-content {
    background: #FFF;
}
DIV#ExportSQL-TABS DIV.ExportSQL-MainContent {
    background: #FFF;
    border: solid #63758C;
    border-width: 1px 0;
    overflow: auto;
    overflow-y: scroll\9;
    height: 100%;
}
DIV#ExportSQL-TABS DIV.ExportSQL-MainContentPad {
    padding: 10px 10px;
    position: relative;
}

/*** CSS for the Generate SQL tab ***/
DIV#ExportSQL-mainDiv DIV.results-finished {
    background: #BBCCEE none repeat scroll 0%;
    padding: 5px 5px 5px 5px;
    border: 1px solid #667788;
    height: auto;
    overflow: auto;
    width: auto;
    position: relative;
}
DIV#ExportSQL-mainDiv DIV.statementBox {
    text-align: left;
    border: 1px solid #63758C;
    overflow: auto;
    width: auto;
    background: white;
    white-space: nowrap;
    height: 300px;
    padding: 0px 5px 0px 5px;
    position: relative;
}
DIV#ExportSQL-mainDiv DIV.yearSelects {
    float: right;
}
DIV#ExportSQL-mainDiv DIV.droptrgtlbl {
    padding: 6px 0px;
    float: left;
    font-weight:bold;
    color:#666;
    margin: 7px 10px 7px 10px;
}
DIV#ExportSQL-mainDiv DIV.droptrgt {
    padding: 5px 10px;
    background: #DEEBEF;
    margin: 7px 0px 7px 0px;
    text-align: left;
    border: 1px solid #63758C;
    width: 300px;
    overflow: hidden; 
    float: left;
}
DIV#ExportSQL-mainDiv DIV.generateBox {
    background: #6677AA;
    border: 1px solid #667788;
    font-weight: bold;
    font-family: arial,helvetica;
    font-size:11px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    color: #FFF;
    cursor: pointer;
    float: right;
    margin-left: 20px;
    width: 72px;
    overflow: hidden;
}
DIV#ExportSQL-mainDiv DIV.generateBox a {
    color: #FFF;
    display: block;
    text-decoration: none;
}
DIV#ExportSQL-mainDiv DIV.bar {
    background: #CEDBEF none repeat scroll 0%;
    border: 1px solid #667788;
    overflow: hidden;
    width: auto;
    height: auto;
    position: relative;
    clear: both;
    margin: 5px 0px 5px 0px;
}
DIV#ExportSQL-mainDiv select.selectYear {
    background: #DEEBEF;
    margin: 12px 20px 0px 0px;
    float: left;
    width: auto;
}
DIV#ExportSQL-mainDiv DIV.elementGroup {
    background: #BBCCEE none repeat scroll 0%;
    padding: 2px 5px 5px 5px;
    border: 1px solid #667788;
    height: auto;
    overflow: auto;
    width: auto;
    position: relative;
}
DIV#ExportSQL-mainDiv DIV.elementGroupFooter {
    width: 100%;
    float: right;
}
DIV#ExportSQL-mainDiv DIV.messagePanel {
    height: 200px;
    float: right;
    width: 40%;
    margin: 7px 0px 7px 6px;
    border: 1px solid #667788;
    background: #CEDBEF;
    padding: 5px 5px 5px 5px;
}
DIV#ExportSQL-mainDiv span.dropedItem {
    padding: 7px 5px 2px 5px;
    cursor: pointer;
}
DIV#ExportSQL-mainDiv span.dropedItem:hover {
    background: #DEEBEF;
}

/*** CSS for the Plugin Help tab ***/

DIV#ExportSQL-TABS H1 {
    margin:0 0 10px 0;
    font-size:16px;
    color:#42558C;
    font-weight:bold;
}
DIV#ExportSQL-TABS H2 {
    margin:10px 0 10px 0;
    font-size:13px;
    color:#42558C;
    font-weight:bold;
}
DIV#ExportSQL-TABS HR {
    margin:0;
}














